Programming/Digital House (Python)/Project 1 - Transport and real estate/.ipynb_checkpoints/
Programming/Digital House (Python)/Project 2 - Price of properties/.ipynb_checkpoints/
Programming/Digital House (Python)/Project 3 - US Congress votes/.ipynb_checkpoints/
Programming/Digital House (Python)/Project 4 - Criptocurrencies/.ipynb_checkpoints/
Programming/Gobierno Abierto (Python)/Notebooks/.ipynb_checkpoints/
Informe.docx
recorridos-realizados-2014.csv
recorridos-realizados-2015.csv
recorridos-realizados-2016.csv
recorridos-realizados-2017.csv
recorridos-realizados-2018.csv
recorridos-realizados-2019.csv
recorridos-realizados-2020.csv
recorridos-realizados-2021.csv
usuarios_ecobici_2015.csv
usuarios_ecobici_2016.csv
usuarios_ecobici_2017.csv
usuarios_ecobici_2018.csv
usuarios_ecobici_2019.csv
usuarios_ecobici_2020.csv
dataset.csv
